# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin
MONGODB_HOST="localhost"
MONGODB_PORT="27017"
MONGODB_DB=knowledge_base

# Postgres
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=knowledge_base

# AWS Config
AWS_ACCESS_KEY_ID=aws_key
AWS_SECRET_ACCESS_KEY=aws_secret
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET_NAME=knowledge-base
AWS_S3_ENDPOINT_URL="http://localhost:9000"

#Redis
REDIS_HOST="localhost"
REDIS_PORT="6379"

# general
APP_ENV="local"
API_KEY="my_api_key"

# OpenAI
OPENAI_API_KEY="your_openai_api_key"
OPENAI_API_BASE_URL="your_openai_api_base_url"

TOKENIZERS_PARALLELISM = false